# Project-specific
bin/

# Unit test / coverage reports
*.out
.coverage.out
.coverage.xml
.junit.xml
coverage.html

# Development-related settings.
.tool-versions
.DS_Store
.idea/
.vscode
*.swp
*.swo
*.tgz
**/*.db
